/*font-family: 'Lato', sans-serif;*/

/*font-family: 'Roboto', sans-serif;*/

/*************** App Styles ***************/

body {
    font-family: 'Roboto', sans-serif;
}

/*blue flash effect*/

.cuisine-filter tr:hover,
.allergies-filter tr:hover,
.other-filter tr:hover {
    animation: flash-blue 1s infinite;
}

@keyframes flash-blue {
    0% {
        background: #454d55;
    }
    30% {
        background: #5b9bd5;
    }
    100% {
        background: #454d55;
    }
}

/*blue highlight effect*/

.btn-outline-primary:hover,
#save-btn:hover,
#edit-btn:hover,
#back-btn:hover,
#photo_btn:hover {
    background-color: #5b9bd5;
    border-color: #5b9bd5;
}

#cancel-btn:hover {
    background-color: #fff;
    border-color: #fff;
}

.btn-primary {
    background-color: #5b9bd5;
    border-color: #5b9bd5;
}

.btn-outline-primary {
    border-color: #5b9bd5;
    color: #5b9bd5;
}

/*************** Login Page ***************/

.create_account,
.login {
    padding: 20px;
}

.login-title {
    font-family: 'Lato', sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #5b9bd5;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.login-details {
    padding: 20px;
    border: 1px solid #5b9bd5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.user-detail {
    padding: 10px;
}

.create-details {
    padding: 20px;
    border: 1px solid #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.create-title {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.create-details label,
.login-details label {
    font-weight: bold;
}

.login-controls {
    padding-top: 20px;
    text-align: center;
}

.login-controls input {
    margin: 10px;
}

.login-messages {
    text-align: center;
    font-style: italic;
}

/*************** Nav bar ***************/

.navbar-customise {
    background: #000;
}

.navbar-brand {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.page-header {
    display: none;
    color: rgba(91, 155, 213, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.nav-link {
    text-transform: uppercase;
    font-size: 18px;
}
.navbar-dark .navbar-nav .logout-link:focus, 
.navbar-dark .navbar-nav .logout-link:hover {
    color: red;
}

.helper-container2,
.helper-container{
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
}

.edit-helper{
    display: inline-block;
    width: 250px;
    top: 20vh;
    background-color: #343a40;
    color: #fff;
    border-radius: 10px;
}

.edit-helper h6{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    background-color: #5b9bd5;
}
.edit-helper p{
    padding: 10px;
}
.edit-helper button{
    margin-bottom: 15px;
}

/*************** Nav filter ***************/

#recipe-filter {
    padding-bottom: 20px;
    height: auto;
    color: #fff;
    background: #000;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.cuisine-filter,
.allegy-filter {
    color: #5b9bd5;
    font-size: 18px;
}
.cuisine-filter select,
.allegy-filter select {
    text-transform: capitalize;
    border: 3px solid #5b9bd5;
}

.filter-controls {
    padding-top: 10px;
}

#calories,
#cook_time,
#proteinText{
    display: inline-block;
}

/*************** Home & Saved Recipes pages ***************/

.saved-recipe-row,
.recipe-row {
    height: auto;
    border: 1px solid #000;
    margin: auto;
    padding: 20px;
    overflow: hidden;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 25px 0px #000;
    -moz-box-shadow: 0px 0px 25px 0px #000;
    box-shadow: 0px 0px 25px 0px #000;
}

.saved-section,
.remove-section,
.save-section {
    height: 50px;
    outline-offset: -10px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
}

.saved-recipe,
.remove-section a,
.save-section a,
.remove-option,
.save-option {
    line-height: 50px;
    height: 100%;
    width: 100%;
    font-size: 26px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

.saved-recipe {
    background-color: #000;
}

.remove-option,
.save-option {
    background-color: #5b9bd5;
}

.remove-section a:hover,
.save-section a:hover {
    text-decoration: underline;
}

.photo-section {
    height: 100%;
    max-height: 400px;
    width: 100%;
}

.photo-section img {
    height: 100%;
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    padding: 5px;
}

.recipe-section {
    text-transform: capitalize;
}

.recipe-cuisine {
    margin-top: 5px;
    text-transform: uppercase;
    width: 100%;
    background-color: #000;
    background-image: linear-gradient(to right, #000, #000, #fff);
    color: #fff;
    padding: 5px;
    font-style: italic;
    text-transform: capitalize;
    font-size: 26px;
}

.recipe-title {
    font-size: 20px;
}

.recipe-description {
    font-size: 15px;
}

.recipe-time {
    font-size: 15px;
    font-weight: bolder;
}

.view-recipe-container {
    display: none;
    text-align: center;
    padding-bottom: 20px;
}

.view-recipe-container-sm button {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.nutrition-break {
    text-align: center;
}

.nutrition-break h6 {
    font-size: 10px;
    font-weight: 600;
}

.nutrition-section {
    font-family: 'Lato', sans-serif;
    color: #000;
}

.nutrition-protein {
    display: inline-block;
    width: 48%;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
}

.protein {
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
}

.nutrition-allergy-sm {
    display: inline-block;
    width: 48%;
    text-align: left;
}

.nutrition-allergy-sm label {
    display: block;
    font-size: 8px;
}

.nutrition-allergy-sm img {
    display: inline-block;
    height: 30px;
    width: 30px;
    object-fit: fill;
}

.nutrition-allergy {
    display: none;
    width: 48%;
    text-align: left;
}

.nutrition-allergy label {
    display: block;
    font-size: 8px;
}

.nutrition-allergy img {
    display: inline-block;
    height: 40px;
    width: 40px;
    object-fit: fill;
}

.nutrition-allergy .allergy-description {
    display: none;
}

.no-allergy {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #000;
    font-size: 8px;
}

.nutrition-calories {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.green-calories span {
    background-color: green;
    border: 10px solid green;
    border-radius: 50%;
}

.amber-calories span {
    background-color: orange;
    border: 10px solid orange;
    border-radius: 50%;
}

.red-calories span {
    background-color: red;
    border: 10px solid red;
    border-radius: 50%;
}

.editable-sm{
    font-size: 12px;
    font-style: italic;
    color: #5b9bd5;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
}
.editable-lg{
    display:none;
    font-size: 12px;
    font-style: italic;
    color: #5b9bd5;
    font-weight: 600;
    text-align: right;
    padding-top: 10px;
}
#back-btn {
    display: none;
    position: fixed;
    bottom: 30px;
    /* Place the button at the bottom of the page */
    right: 30px;
    z-index: 1;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    background-color: #343a40;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

#save-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 5px;
    z-index: 1;
    background-color: #343a40;
    color: #fff;
    border-radius: 5px;
    height: 100px;
    width: 150px;
}

.header-engraved {
    border: 1px solid #000;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    margin-top: 10px;
    font-size: 22px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    height: 75px;
    line-height: 50px;
    color: #fff;
    background-color: #5b9bd5;
    text-shadow: 0px -1px 0px rgb(0, 0, 0);
    -webkit-box-shadow: 0px 0px 25px 0px #000;
    -moz-box-shadow: 0px 0px 25px 0px #000;
    box-shadow: 0px 0px 25px 0px #000;
}

/*************** Add/Edit Recipe specific page ***************/

.add-recipe-section,
.add-info-section,
.add-photo-section,
.view-photo-section{
    padding-top: 20px;
}

.edit-mode label {
    border: 1px solid #000;
    padding: 5px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-color: #000;
    width: 100%;
    font-style: italic;
}

.edit-mode input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.edit-mode h4 {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.edit-mode p {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

#prevImg {
    transition: background-color 0.5s ease;
}

.photo-btn {
    text-align: center;
}

.photo-btn input {
    display: inline-block;
    width: 45%;
}

.add-photo-section{
    width: 100px;
}
.view-photo-section{
    height: 100%;
    text-align: center;
}
#photoUrl{
    font-size: 10px;
}

.add-photo-section Img,
.view-photo-section Img{
    height: 100%;
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    padding: 5px;
}

#photo-instructions {
    text-align: center;
    padding: 5px;
    margin: 0;
    font-style: italic;
    font-size: 12px;
}

#cooking_instructions {
    height: 150px;
}

#recipe_description {
    height: 50px;
}


.cuisine-select {
    margin-bottom: 10px;
    text-transform: capitalize;
}

.view-btns,
.form-btns {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 0px;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
    border: solid 2px;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    padding-top: 15px;
    background-color: #000;
    padding-bottom: 15px;
    -webkit-box-shadow: inset 0px 0px 10px 10px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 0px 10px 10px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
}

#cancel-btn,
#next-btn {
    margin: 10px;
    transition: background-color 0.3s ease;
    width: 150px;
    font-size: 25px;
}

.saved-none{
    line-height: 50vh;
    text-align: center;
}

/*----------------Allergy Popup*/

#allergy-alert {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.allergy-option {
    display: inline-block;
    height: 70px;
    width: 60px;
}

.allergy-title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #5b9bd5;
    width: 350px;
    height: 50px;
    margin: auto;
    text-align: center;
}

.allergy-title h5 {
    color: #fff;
    font-size: 26px;
    line-height: 50px;
}

.allergy-select {
    background-color: #343a40;
    width: 350px;
    height: 275px;
    margin: auto;
    text-align: center;
    padding: 5px;
}

.allergy-select img {
    height: 60px;
    width: 60px;
    object-fit: fill;
    border-radius: 50%;
    cursor: pointer;
}

.allergy-select img:hover {
    background-image: radial-gradient(#5b9bd5 40%, transparent);
}

.allergy-selected {
    background-image: radial-gradient(#5b9bd5 40%, transparent);
}

.allergy-select .allergy-description {
    text-transform: capitalize;
    font-size: 10px;
    color: #fff;
}

.allergy-btn {
    background-color: #343a40;
    width: 350px;
    height: 75px;
    margin: auto;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}

/************************* View Recipe specific page ***************************/

.addrecipe-row {
    border: 1px solid #000;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    -webkit-box-shadow: 0px -5px 15px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px -5px 15px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px -10px 15px 5px rgba(0, 0, 0, 0.5);
}

.addrecipe-row label {
    display: block;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.addrecipe-row input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.addrecipe-row h4 {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.addrecipe-row p {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.calories-score{
    text-align: center;
    margin-bottom: 10px;
}

.calories-score span {
    padding: 5px;
    color: #fff;
    background-color: red;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}

.add-nutrition-section {
    text-align: center;
    border-radius: 10px;
    padding-top: 20px;
    border: 5px solid #5b9bd5;
}

.allergy-img {
    display: inline-block;
    text-align: center;
    height: 70px;
    width: 60px;
}

.allergy-img img {
    line-height: 60px;
    height: 60px;
    width: 60px;
    object-fit: fill;
    border-radius: 50%;
}

.allergy-img .allergy-description {
    display: block;
    text-transform: capitalize;
    font-size: 10px;
}

#save-btn,
#edit-btn {
    margin: 10px;
    transition: background-color 0.3s ease;
    width: 150px;
    font-size: 25px;
}

#edit-mode {
    display: none;
}

/*************** Responsive Design - Mobile & Tablet ***************/
@media (min-width: 576px) {
    .page-header {
        display: block;
    }
    .header-engraved {
        padding: 15px;
        font-size: 30px;
        height: 85px;
    }
}

@media (min-width: 768px) {
    .view-recipe-container {
        text-align: left;
    }
    .nutrition-break h6 {
        font-size: 12px;
    }
    .nutrition-allergy-sm label {
        font-size: 10px;
    }

    .nutrition-section {
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
    }
    .nutrition-protein {
        width: 33%;
        text-align: right;
        order: 3;
        padding-top: 0;
    }
    .nutrition-calories {
        margin: auto;
        display: inline-block;
        width: 33%;
        text-align: center;
        order: 2;
    }
    .nutrition-allergy-sm {
        width: 33%;
        text-align: left;
        order: 1;
        padding-top: 0;
    }
    .view-recipe-container-sm {
        display: none;
    }
    .view-recipe-container {
        display: block;
    }
    .header-engraved {
        padding: 20px;
        font-size: 50px;
        height: 100px;
    }
    .editable-sm{
        display:none;
    }
    .editable-lg{
        display:block;
    }
        
}

@media (min-width: 992px) {

    /*************** Nav Bar ***************/
    .navbar-brand {
        font-size: 32px;
        padding-right: 20px;
    }

    .page-header {
        font-size: 22px;
        font-weight: 500;
    }
    .nav-link {
        font-size: 15px;
    }


    /*************** Home ***************/
    .recipe-row {
        height: 280px;
    }
    .saved-recipe-row {
        height: 280px;
    }

    .saved-section {
        height: 100%;
        width: 100%;
        background-color: #000;
    }

    .remove-section,
    .save-section {
        height: 100%;
        width: 100%;
        background-color: #5b9bd5;
    }

    .saved-recipe,
    .remove-section a,
    .save-section a,
    .remove-option,
    .save-option {
        background-color: transparent;
        position: absolute;
        font-size: 20px;
        height: auto;
        width: 150%;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        -o-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    }

    .photo-section img {
        padding: 0;
    }

    .recipe-cuisine {
        margin-top: 0;
    }
    #recipe-description {
        max-height: 200px;
        overflow: auto;
    }

    .nutrition-break h6 {
        font-size: 14px;
    }
    .amber-calories span,
    .red-calories span,
    .green-calories span {
        background-color: transparent;
        border: none;
    }
    .view-recipe-container {
        display: inline-block;
    }
    .nutrition-allergy {
        display: inline-block;
        padding-left: 30px;
    }
    .nutrition-allergy-sm {
        display: none;
    }
    .nutrition-calories {
        top: 0;
        width: 0;
        height: 0;
        border-top: 150px solid;
        border-bottom: 150px solid transparent;
        border-left: 150px solid transparent;
        position: absolute;
        right: 0;
        display: block;
        border-radius: 0;
    }

    .nutrition-calories span {
        position: absolute;
        top: -110px;
        width: 100px;
        left: -100px;
        color: #fff;
        text-align: center;
        font-size: 22px;
        transform: rotate(45deg);
        display: block;
    }

    .green-calories {
        background-color: transparent;
        border-top: 150px solid green;
    }

    .amber-calories {
        background-color: transparent;
        border-top: 150px solid orange;
    }

    .red-calories {
        background-color: transparent;
        border-top: 150px solid red;
    }

    .nutrition-protein {
        position: relative;
        font-size: 20px;
        font-weight: 500;
        top: 80%;
        width: 100%;
        text-align: center;
        display: block;
    }

    #back-btn {
        padding: 15px;
        font-size: 20px;
    }
    #photo-preview {
        height: 200px;
        text-align: center;
    }
    
    #photo-preview img {
        height: 100%;
        max-height: 400px;
        width: 100%;
        object-fit: cover;
        padding: 5px;
    }

}

@media (min-width: 1200px) {

    /*************** Nav Bar ***************/
    .navbar-brand {
        font-size: 40px;
        padding-right: 25px;
    }

    .page-header {
        font-size: 26px;
        font-weight: 500;
    }
    .nav-link {
        font-size: 18px;
    }

}

/*************** Screen Transitions ***************/

.loader-savepage,
.loader-homepage {
    animation: 0.5s ease 0s 1 slideIn;
}

@keyframes slideIn {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }
    20% {
        transform: translateX(-5%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@-moz-keyframes slideIn{
    0% {
        -moz-transform: translateX(-20%);
        -moz-opacity: 0;
    }
    20% {
        -moz-transform: translateX(-5%);
        -moz-opacity: 0;
    }
    100% {
        -moz-transform: translateX(0);
        -moz-opacity: 1;
    }
}
@-webkit-keyframes slideIn{
    0% {
        -webkit-transform: translateX(-20%);
        -webkit-opacity: 0;
    }
    20% {
        -webkit-transform: translateX(-5%);
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        -webkit-opacity: 1;
    }
}
.loader-editpage,
.loader-savetitle,
.loader-viewpage {
    animation: 1s ease 0s 1 slideDown;
}

@keyframes slideDown {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }
    20% {
        transform: translateY(-10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@-moz-keyframes slideDown{
    0% {
        -moz-transform: translateY(-20%);
        -moz-opacity: 0;
    }
    20% {
        -moz-transform: translateY(-10%);
        -moz-opacity: 0;
    }
    100% {
        -moz-transform: translateY(0);
        -moz-opacity: 1;
    }
}
@-webkit-keyframes slideDown{
    0% {
        -webkit-transform: translateY(-20%);
        -webkit-opacity: 0;
    }
    20% {
        -webkit-transform: translateY(-10%);
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
}
