{% extends 'base.html' %} {% block header %}
<span>Add Allergy</span> {% endblock %} {% block content %}
<form action="{{url_for('insert_recipe')}}" method="POST">
    <div class="form-row">
        <!--Upload Image-->
        <div class="col-12 col-md-3">

            <label for="photo_id">Enter an photo https:// URL:</label>
            <input type="url" name="url" id="url" placeholder="https://example.com" pattern="https://.*" size="30" required>

            <div class="form-group">
                <label for="calories">Recipe Calories:</label>
                <input type="number" class="form-control" id="calories" name="calories" placeholder="Enter Calories…">
            </div>

        </div>
        <!--Input dish details-->
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label for="recipe_name">Recipe Name:</label>
                <input type="text" class="form-control" id="recipe_name" name="recipe_name" placeholder="Enter Recipe Name…">
            </div>
            <div class="form-group">
                <label for="recipe_description">Recipe Description:</label>
                <input type="text" class="form-control" id="recipe_description" name="recipe_description" placeholder="Brief description about the dish here…">
            </div>
            <div class="form-group">
                <label for="cooking_instructions">Recipe Instructions:</label>
                <input type="text" class="form-control" id="cooking_instructions" name="cooking_instructions" placeholder="Insert cooking instructions…">
            </div>
            <div class="form-group">
                <label for="cook_time">Cooking Time (include Prep):</label>
                <input type="number" class="form-control" id="cook_time" name="cook_time" placeholder="Enter cooking time…">
            </div>
            <div class="form-group">
                <label for="protein">Protein, grams per serving (if known):</label>
                <input type="number" class="form-control" id="protein" name="protein" placeholder="Grams per serving…">
            </div>
        </div>
        <!--Select a cuisine-->
        <div class="col-12 col-md-3 cuisine-filter">
            <label for="cuisine">Select Recipe Cuisine</label>
            <table class="table table-dark">
                <tbody>
                    {% for cuisine in cuisines %}
                    <tr>
                        <th scope="row" value="{{ cuisine.cuisine_name }}">{{ cuisine.cuisine_name }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-primary" href="{{url_for('index')}}" role="button">Cancel</a>
    <button type="submit" class="btn btn-primary">Next</button>
</form>
{% endblock %}
