<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap" rel="stylesheet">
    <!--ICONS-->
    <script src="https://kit.fontawesome.com/dad3a7548e.js"></script>
    <!--LOCAL CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />

    <!--!!!!! ACTION !!!!! input page var-->
    <title>{{ page }}</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-customise">
        <a class="navbar-brand" href="{{url_for('index')}}">The Healthy Food Portal<span class="page-header">{{ page }}</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

        <!--Clears all links when not logged in!-->
        {% if page == 'Login' %} {% else %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a id="nav-filter" class="nav-link" href="#">Search</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage Recipes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('add_recipe')}}">Add Recipe</a>
                        <a class="dropdown-item" href="{{url_for('edit_recipes')}}">Edit Recipes</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('saved_recipes')}}">Saved Recipes</a>
                </li>
                <li class="nav-item logout">
                    <a class="nav-link logout-user" href="">{{ username }}</a>
                    <a class="nav-link logout-link" href="{{url_for('logout')}}" style="display:none">Logout?</a>
                </li>
            </ul>
        </div>
        {% endif %}
    </nav>

    <!--Nav Bar Filter Menu-->
    <div id="recipe-filter" class="container-fluid" style="display: none">
        <form action="{{url_for('filter_recipes')}}" method="POST">
            <div class="row">

                <!--Cuisine Filters-->
                <div class="col-12 col-md-4 form-group cuisine-filter">
                    <label for="cuisine">Cuisine Types</label>
                    <select class="form-control" name="cuisine" multiple="multiple" size='6'>
                    {% for cuisine in cuisines %}
                    <option value="{{ cuisine.cuisine_name }}">{{ cuisine.cuisine_name }}</option>
                    {% endfor %}
                    </select>
                </div>

                <!--Food Allergy Filters-->
                <div class="col-12 col-md-4 form-group allegy-filter">
                    <label for="allergies">Food Allergies</label>
                    <select class="form-control" name="allergies" multiple="multiple" size='6'>
                    {% for allergy in allergies %}
                    <option value="{{ allergy.allergy_name }}">{{ allergy.allergy_name }}</option>
                    {% endfor %}
                    </select>
                </div>

                <!--Other Filters-->
                <div class="col-12 col-md-4">
                    <div>
                        <label for="calories">Calories: </label>
                        <input id="caloriesText" type="number" value="1000" min="0" max="1000" step="50" oninput="calories.value=caloriesText.value" />
                        <input id="calories" type="range" name="calories" class="custom-range" value="1000" min="0" max="1000" step="50" oninput="caloriesText.value=calories.value" />
                    </div>
                    <div>
                        <label for="cook_time">Cooking Time: </label>
                        <input id="cookText" type="number" value="60" min="0" max="60" step="5" oninput="cook_time.value=cookText.value" />
                        <input id="cook_time" type="range" name="cook_time" class="custom-range" value="60" min="0" max="60" step="5" oninput="cookText.value=cook_time.value" />
                    </div>
                    <div>
                        <label for="protein">Protein: </label>
                        <input id="proteinText" type="number" value="40" min="0" max="40" step="5" oninput="protein.value=proteinText.value" />
                        <input id="protein" type="range" name="protein" class="custom-range" value="40" min="0" max="40" step="5" oninput="proteinText.value=protein.value" />
                    </div>
                </div>

                <!--Filter Button-->
                <div class="col-12 form-controls filter-controls">
                    <a class="btn btn-outline-danger btn-lg" href="{{ url_for('index') }}" role="button">Clear</a>
                    <input type="submit" class="btn btn-outline-primary btn-lg" value="Filter">
                </div>

            </div>
        </form>
    </div>


    {% block content %} {% endblock %}

    <!--JQUERY-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--AJAX-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!--BOOTSTRAP-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--App Scripts-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>
