{% extends 'base.html' %} {% block content %} {% if session['logged_in'] %} You're logged in already! {% else %}

<div class="container">

    <!--Login form-->
    <div class="row login">
        <div class="col-12 offset-sm-2 col-sm-8 offset-lg-4 col-lg-4">
                
            <form action="/login" method="POST">
                <div class="login-title">
                    <h1>Login</h1>
                </div>
                <div class="form-group login-details">
                    <div class="user-detail">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                    </div>
                    <div class="user-detail">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                    </div>
                </div>
                <div class="login-messages">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <h6 >{{ message }}</h6>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="form-controls login-controls">
                    <input id="createNewAccount" class="btn btn-outline-primary btn-lg" type="button" value="Create">
                    <input type="submit" class="btn btn-outline-primary btn-lg" value="Log in">
                </div>
            </form>
    
        </div>
    </div>

    <!--Create new account form-->
    <div class="row create_account" style="display: none;">
        <div class="col-12 offset-sm-1 col-sm-10 offset-lg-3 col-lg-6">

            <form action="/create_account" method="POST">
                <div class="create-title">
                    <h1>Create a new account</h1>
                </div>
                <div class="form-group create-details">
                    <div class="user-detail">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Username" name="username" required>
                    </div>
                    <div class="user-detail">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                    </div>
                    <div class="user-detail">
                        <label for="first">First</label>
                        <input type="text" class="form-control" id="first" placeholder="First Name" name="first" required>
                    </div>
                    <div class="user-detail">
                        <label for="last">Last</label>
                        <input type="text" class="form-control" id="last" placeholder="Last Name" name="last" required>
                    </div>
                </div>
                <div class="login-messages">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <h6 >{{ message }}</h6>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="form-controls login-controls">
                    <input id="cancelNewAccount" class="btn btn-outline-dark btn-lg" type="button" value="Cancel">
                    <input type="submit" class="btn btn-outline-dark btn-lg btn-lg" value="Create Account">
                </div>
            </form>
    
        </div>
    </div>
    
</div>

{% endif %} {% endblock %}
