{% extends 'base.html' %} {% block content %}

<div class="row recipe-row">
    <div class="col-1 cuisine-section">
        <div class="cuisine-content">Mediterranean</div>
    </div>
    <div class="col-2 photo-section">Image</div>
    <div class="col-7 recipe-section">
        <p class="recipe-title">Risotto with Cod</p>
        <p class="recipe-description">A beautiful dish</p>
        <p class="recipe-time">25 minutes</p>
        <span class="recipe-allergies">Fish</span>
        <span class="nutrition-user">Created by: James Green</span>
    </div>
    <div class="col-2 nutrition-section">
        <p class="nutrition-protein">25g</p>
        <p class="nutrition-calories">500</p>
    </div>
</div>

{% endblock %}