{% extends 'base.html' %} {% block content %}

<div class="container-fluid">

    <div class="header-engraved">
        Welcome to your saved recipes
    </div>

{% for recipe in recipes %}
    <div class="row saved-recipe-row">

        <!--Remove button-->
        <div id="remove-section" class="col-12 col-lg-1 remove-section">
            <div class="remove-option">Remove Recipe</div>
            <a id="{{ recipe.id }}" class="remove-recipe" href="{{url_for('remove_recipe', recipe='REPLACE')}}" style="display: none">Click to Remove</a>
        </div>

        <!--Recipe Image-->
        <div class="col-12 col-md-4 col-lg-2 photo-section">
            <img src="{{ recipe.photo_id }}" class="photo-content"></img>
        </div>

        <!--Recipe Details-->
        <div class="col-12 col-md-8 col-lg-7 recipe-section">
            <h3 class="recipe-cuisine">{{ recipe.cuisine }}</h3>
            <h4 class="recipe-title">{{ recipe.recipe_name }}</h4>
            <p class="recipe-description">{{ recipe.recipe_description }}</p>
            <p class="recipe-time">{{ recipe.cook_time }} Minutes</p>
            <a id="{{ recipe.id }}" class="view-recipe" href="{{url_for('view_recipe', recipe='REPLACE')}}">View Recipe</a>
        </div>

        <!--Nutritional Details-->
        <div class="col-12 col-lg-2 nutrition-section">
            {% if recipe.calories<=350 %} 
            <div class="nutrition-calories green-calories">
                <span>{{ recipe.calories }}</span>
            </div>
            {% elif recipe.calories<=500 %} 
            <div class="nutrition-calories amber-calories">
                <span>{{ recipe.calories }}</span>
            </div>
            {% else %}
            <div class="nutrition-calories red-calories">
                <span>{{ recipe.calories }}</span>
            </div>
                {% endif %}
            <div class="nutrition-protein">
                Protein: {{ recipe.protein }}g
            </div>
        </div>

    </div>

{% endfor %}
</div>

<!--    <h1>It doesn't look like you've saved any recipes yet!</h1>-->
<!--    <h3>Go back to the Home page to save recipes</h3>-->

<!--Go to top button-->
<button id="back-btn" title="Go to top">Go To Top</button> {% endblock %}
